<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Authentification</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/style.css" th:href="@{style.css}"/>
    <link rel="stylesheet" href="../static/bootstrapp.css" th:href="@{bootstrapp.css}"/>

    <style>
        .btnn{
            background-color: #172974;
            border-color: yellow;
            color: white;
        }
        .col1{
            color:#172974;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

</head>

<body style="background-color: rgba(108,117,125,0.24)">

<div style="margin-top: 6%" class="text-center">
    <h3 style="font-family: Verdana">Identification Bank Bank</h3>
</div>

<div style="margin-top: 2%" class="col-md-6 offset-md-3">

    <div class="card">
        <div class="card-header" style="background-color: #172974;color: white">
            ACCÈS COMPTES
        </div>
        <div class="container">
            <span class="red" th:if="${param.error}">
                Incorrect username or password
            </span>
                <span class="red" th:if="${param.logout}">
                You have been logged out
            </span>
        </div>
        <div class="card-body p-3">
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <div class="input-group">
                        <span class="input-group-addon" style="padding-right: 7px"><i class="bi bi-person-badge-fill"></i></span>
                        <input type="text" name="username" class="form-control" placeholder="Identifiant">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>

                    <div class="input-group">
                        <span class="input-group-addon" style="padding-right: 7px"><i class="bi bi-brush-fill"></i></span>
                        <input type="password" name="password" class="form-control" placeholder="Mot de Passe">
                    </div>
                </div>

                <button class="btn btn-success btnn btn-lg btn-block" type="submit">Connexion</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>